<!doctype html>
<html>

<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="bg-black">
    <!-- <p class="text-gray-600">{{ scans_str }}</p> -->
    <div class="flex justify-center">
        <div class="port-pwner-ascii text-gray-600 text-1xl">
            <a href="/">
                <div>
                    <pre>

 _ __   ___  _ __| |_      _ ____      ___ __   ___ _ __
| '_ \ / _ \| '__| __|____| '_ \ \ /\ / / '_ \ / _ \ '__|
| |_) | (_) | |  | ||_____| |_) \ V  V /| | | |  __/ |
| .__/ \___/|_|   \__|    | .__/ \_/\_/ |_| |_|\___|_|
|_|                       |_|
            </pre>
                </div>
            </a>
        </div>
    </div>
    </div>
    <div>
        <form action="{{ url_for('start_periodic_scan') }}" method="post" class="">
            <div class="flex justify-center">
                <input placeholder="100 (seconds)" type="number" name="scan_num" class="py-2 px-0.5 mr-1 rounded-sm text-1xl">
                <input placeholder="20 (times)" type="number" name="interval" class="py-2 px-0.5 mr-1 rounded-sm text-1xl">
                <input placeholder="192.168.0.1" type="text" name="target" class="py-2 px-4 mr-1 rounded-sm text-1xl">
                <input type="submit"
                    class="px-4 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 rounded inline-flex items-center"
                    value="Scan this IP periodically">
            </div>
            <div id="loadingimg" class="hidden flex justify-center mr-3 p-3 text-2xl text-gray-400">
                <div class="pr-5">
                    Periodic scanning in progress ...
                </div>
                <svg class="animate-spin -ml-1 mr-3 h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
            </div>
        </form>
    </div>



</body>

<script>
    document.addEventListener("submit", (e) => {
        // Store reference to form to make later code easier to read
        const form = e.target;
        const formdata = new FormData(form)
        document.getElementById("loadingimg").classList.remove("hidden")

        // Post data using the Fetch API
        fetch(form.action, {
            method: form.method,
            body: formdata,
        })

        window.location.href = "/"

        // Prevent the default form submit
        e.preventDefault();
    });
</script>

</html>
